header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 1px 1px rgb(199, 196, 196);
}
header ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(78, 75, 75);
}

header .list {
  color: #ccc;
}

header form {
  width: 50%;
  padding: 16px;
}
header input {
  width: 50%;
}
header img {
  width: 20px;
}
header .image {
  display: none;
}
header li {
  padding: 16px;
}
header li:hover {
  background-color: #ccc;
}
@media screen and (max-width: 2400px) and (min-width: 800px) {
  header ul {
    margin-left: 4%;
  }
}

@media screen and (max-width: 800px) {
  header li {
    padding-left: 0;
  }
  form {
    display: none;
  }
  .image {
    display: inline;
  }
}
